body {
  min-width: 1420px;
  font-family: Tahoma;
  color: white;
  background-color: black;
  margin-top: 0px;

}

#header {
  position: fixed;
  background: black;
  border-bottom: 2px white solid;
}

.room-name {
  width: 67px;
  display: inline-block;
}

.room-name-container {
  width: 1420px;
  border-bottom: solid black 1px;
}

.Free {
  box-sizing: border-box;
  background-color: #00CC00;
  border: 5px solid #006600;
  border-radius: 5px;
  overflow:hidden;
}

.Busy {
  box-sizing: border-box;
  background-color: #FF0000;
  border: 5px solid #990000;
  border-radius: 5px;
  overflow:hidden;
}

.block-container {
  padding-top: 9em;
}

.room-block-container {
  width: 67px;
  display: inline-block;
  vertical-align: top;
}

.hour {
  box-sizing: border-box;
  height: 60px;
  border-top: white solid 2px;
}
