{% extends "bootstrap/base.html" %}

{% block title %}GDS Meeting Room Availablity{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "_favicons.html" %}
{% endblock %}

{% block content %}
<section class="header container">
  <div class="row">
    <div class="header-contents" id="date-floor-div">
      <form action="/" method="get" class="header-contents">
        <div class="input-group">
          <span class="input-group-addon" id="floor-addon">Floor</span>
          <select name="floor" class="selectpicker form-control" aria-decribedby="floor-addon">
            <option {% if floor=="all" %}selected{% endif %} value="all">All</option>
            <option {% if floor=="third" %}selected{% endif %} value="third">Third</option>
            <option {% if floor=="sixth" %}selected{% endif %} value="sixth">Sixth</option>
            <option {% if floor=="seventh" %}selected{% endif %} value="seventh">Seventh</option>
          </select>
        </div>
        <div class="input-group with-margin">
          <span class="input-group-addon" id="date-addon">Date</span>
          <input class="form-control" type="date" name="date" value="{{ date }}" aria-decribedby="date-addon"/>
        </div>
        <div class="submit-container with-margin">
          <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
      </form>
    </div>
    <div class="header-contents" id="page-title-div">
      <h1>Meeting Room Availability</h1>
    </div>
    <div class="header-contents" id="status-div">
      <div class="input-group with-margin">
        <span class="input-group-addon" id="status-addon">Status</span>
        <div class="form-control" aria-decribedby="status-addon">
          <span id="header-status"></span>
        </div>
      </div>
      <div class="input-group with-margin">
        <span class="input-group-addon" id="time-addon">Time</span>
        <div class="form-control" aria-decribedby="time-addon">
          <span id="header-time"></span>
        </div>
      </div>
      <div class="feedback-container with-margin">
          <a href="mailto:meetingroom.notifications@digital.cabinet-office.gov.uk?Subject=Feedback" class="btn btn-primary">Leave feedback</a>
      </div>
    </div>
  </div>
  <section class="row">
    <div class='room-name-container'>
      <div class='times'>
        Time
      </div><!--
    -->{% for room in rooms %}<!--
    --><div class='sideways-text {{floor}}-width top-align'><!--
        -->{{ room.resourceName }}<!--
      --></div><!--
    -->{% endfor %}<!--
   --></div>
  </section>
</section>
{% block page_content %}{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="{{ url_for('static', filename='javascripts/application.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/analytics.js') }}"></script>
{% endblock %}
