<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
  <title>Rooms</title>
</head>
<body>
  <div class='room-name-container'>
    <div class='room-name'>
      Time
    </div>
    {% for room in rooms %}
    <div class='room-name'>
      {{ room.resourceName }}
    </div>
    {% endfor %}
  </div>
  <div class='block-container'>
    <div class='room-block-container'>
    </div>
      {% for room in rooms %}
        <div class='room-block-container'>
            {% for block in full_days.get(room.resourceEmail) %}
              <div class='{{ block.status }}' style='height: {{ block.length }}px'>
                {{ block.status }}
              </div>
            {% endfor %}
        </div>
      {% endfor %}
  </div>
</body>
</html>
