{% extends "base.html" %}
{% block page_content %}
<section id="header">
  <div>
    <form action="/" method="get" class="header-contents">
      <div>
        <label for="floor">
          Floor:
        </label>
        <select name="floor" class="selectpicker">
          <option {% if floor=="all" %}selected{% endif %} value="all">All</option>
          <option {% if floor=="third" %}selected{% endif %} value="third">Third</option>
          <option {% if floor=="sixth" %}selected{% endif %} value="sixth">Sixth</option>
          <option {% if floor=="seventh" %}selected{% endif %} value="seventh">Seventh</option>
        </select>
      </div>
      <div>
        <label for="date">
          Date:
        </label>
        <input type="date" name="date" value="{{ date }}"/>
        <input type="submit" value="Submit" />
      </div>
    </form>
    <div class="header-contents">
      <h1>Meeting Room Availability</h1>
    </div>
  </div>
  <div class='room-name-container'>
    <div class='room-name'>
      Time
    </div><!--
  -->{% for room in rooms %}<!--
    --><div class='room-name'><!--
      -->{{ room.resourceName }}<!--
    --></div><!--
  -->{% endfor %}<!--
 --></div>
</section>
<div class='block-container'><!--
--><div class='room-block-container'>
    {% for time in times %}
      <div class='hour'>
        {{time}}:00
      </div>
    {% endfor %}
  </div><!--
  -->{% for room in rooms %}<!--
    --><div class='room-block-container'>
        {% for block in full_days.get(room.resourceEmail) %}
            <div class='{{ block.status }}' style='height: {{ block.length }}px'>
              {{ block.status }}
              {{ block.times }}
            </div>
          {% endfor %}
      </div><!--
    -->{% endfor %}<!--
--></div>
{% endblock %}
