<p>Hello,</p>

<p>Your meeting room bookings for tomorrow are:</p>

{% for event in events %}
  <ul>
    <li>Room: {{ event.location }}</li>
    <li>Start: {{ event.start }}</li>
    <li>End {{ event.end }}</li>
  </ul>
{% endfor %}

<p>
  <strong>Delete your room booking if you don't need it</strong><br>
  If you don't need the room booking anymore, please delete it so someone else can use the room.
</p>
<p>
  You can delete a room booking in a series without affecting your future bookings.
</p>
<p>
  Read how to delete a room booking using Google Calendar:<br>
  <a href="https://support.google.com/calendar/answer/37113?hl=en&ref_topic=3417926" taget="_blank">https://support.google.com/calendar/answer/37113?hl=en&ref_topic=3417926</a>
</p>
<p>
  <strong>Think about using a smaller room</strong><br>
  If you've got fewer people coming to the meeting than you first thought, it would be great if you could try moving to a smaller room.
</p>

<p>
  Thanks,<br>
  Your friendly meeting room app
</p>
